

header{
    background-color: aqua;
    padding: 5px;
    list-style-type: none;
    float: left;
    color: #000000;
    margin-bottom: 15px;
    margin-left:0px ;
    margin-right: 0px;
    width: 99%;
}

nav ul li{
    padding-top: 20px;
    padding-right: 15px;
    display: inline; 
}

.linkek{
    font-size: 20px;
}