html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    width: auto;
    font-size: 110%;
}

header {
    background-color: rgb(69, 89, 89);
    list-style-type: none;
    text-align: center;
    color: #ffffffb2;
    padding: 15px;

}


nav ul li {
    padding-top: 20px;
    padding-right: 15px;
    display: inline;
}

nav a:link {
    color: #000000;
}

nav a:visited {
    color: #be80b8;
}

.navlink {
    margin: auto;
}

nav a:hover {
    color: #ffffff;
    background-color: #000000;
}

a:hover {
    color: #ffffff;
    background-color: #000000;
}

footer {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #21b139;
}

#jatekleiras {
    max-width: 45%;

}

#character {
    color: #210fc0;
    text-decoration: none;

}

/* Beni buzi */
body,
html {
    height: 100%;
}

.main_parallax {
    /* The image used */
    background-image: url("../images/Screenshot_20230215-081755.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box div {
    width: 100px;
    height: 100px;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
    border: 1px solid blue;
}

.flex-item {
    background-color: tomato;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.captionDiv {
    display: block;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 0px;
}


#d2logo {
    width: 80%;
}

main {
    padding: 2%;
}

main div {
    display: block;

}

.karakter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.karakter h3 {
    width: 100%;
}

.karakter p {
    flex-basis: 40%;
    line-height: 150%;
    
}

.karakter img {
    width: 50%;
    justify-self: end;
}

#alapinfo{
    line-height: 125%;
    width: 100%;
    
}

